header {
    background-color: #2F70AF;
    color: white;
    padding: 1rem 0;

    &>div {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    a {
        color: white;

        &:hover {
            text-decoration: none;
            color: white;
        }
    }
}