.old-book-item {
    box-shadow: rgba(104, 110, 116, 0.2) 0px 8px 24px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
    padding: 1rem;

    img {
        width: 25%;
        object-fit: cover;
    }

    .info {
        padding: 12px;
        flex-grow: 1;

        .name {
            font-size: 20px;
            font-weight: bold
        }

        .price {
            color: #02315E;
            font-weight: bold
        }

        .status span {
            color: #42FF00;
            font-weight: bold
        }
    }

    .action-item {
        padding: 12px;

        .delete {
            margin-left: 8px;
            background-color: #FB5640;
            color: white;
        }

        .delete:hover {
            border: none;
        }
    }

    form {
        input,
        .ant-input-number {
            width: 100%;
        }

        textarea {
            height: 150px;
            resize: none;
        }
    }
}

.text-gray {
    color: silver;
}