.history {
    .order-item {
        display: flex;
        flex-direction: column;
        padding: 12px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin-bottom: 24px;
        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
            align-items: center;
            .status {
                font-weight: bold;
                span {
                    margin-left: 8px;
                }
            }
            .success {
                color: green;
            }
            .progress {
                color: rgb(244, 207, 41);
                background-color: white;
            }
        }
        .list-item {
            .item {

                display: flex;
                justify-content: space-between;
                .info-item {
                    display: flex;
                    img {
                        height: 100%;
                    }
                    .info {
                        align-self: center;
                        padding-left: 12px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .publisher {
                            color: #9e9d9d
                        }
                    }
                }
                .price {
                    color: #9e9d9d;
                    align-self: center;
                    span {
                        color: black;
                        font-size: 20px;
                    }
                }
            }
        }
        .payment {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .method span {
                font-weight: bold;
                color: #2F70AF;
            }
            .total {
                margin-bottom: 12px;
                background-color: white;
                display: flex;
                align-items: center;
                span {
                    font-size: 20px;
                    font-weight: bold;
                    color: #2F70AF;
                    margin-left: 24px;
                }
            }
        }
        button {
            align-self: flex-end;
        }
       
        
    }
}