footer {
    background-color: #2F70AF;
    padding: 2rem 0;
    color: white;
    
    li {
        list-style: none;
    }

    a {
        color:white;
        text-decoration:none;

        &:hover {
            color: white;
        }
    }

}