footer {
    background-color: #2F70AF;
    padding: 2rem 0;
    color: white;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: white;
        }
    }

<<<<<<< HEAD
    li {
        padding: 0.25rem 0;
    }
=======
>>>>>>> a10b7a83766f3bf4732aec75fa114e7ae3bba0d7
}