footer {
    background-color: #2F70AF;
    padding: 2rem 0;
    color: white;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: white;
        }
    }

    li {
        padding: 0.25rem 0;
    }
}