@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;800&display=swap');

:root {
    font-family: Mulish, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;

    color-scheme: light dark;
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

#root {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
}

.App {
    flex-grow: 1;
}

.mw {
    width: 1280px;
    margin: auto;
}
